doctype html
html
    head
      title Form Tester
    body
      form(method='POST' action='/register')
        input#id(type='text',name='fid' placeholder="Id")
        br
        br 
        input#name(type='text',name='fname' placeholder="Name")
        br
        br
        input#age(type='text',name='fage' placeholder="Age")
        br
        br
        input#address(type='text' name='faddress' placeholder="Address")
        br
        br
        button.btn.btn-primary(type='submit') Sign up

      br
      br

      table
        tr
          foreach(person in data)
            tr
              td =person.id
              td =person.name
              td =person.age
              td =person.address

