doctype html
html
  include ./head
  body
    .container.pt-5
      form(method="POST" action="/customer")
        .form-group
          label(for='id') Id
          input#id.form-control(type='text' name="id")
        .form-group
          label(for='name') Name
          input#name.form-control(type='text' name="name")
        .form-group
          label(for='age') Age
          input#age.form-control(type='text' name="age")
        .form-group
          label(for='address') Address
          input#address.form-control(type='text' name="address")
        button.btn.btn-primary(type='submit') Submit
      br


      table.table
        thead
          tr
            th(scope='col') Id
            th(scope='col') Name
            th(scope='col') Age
            th(scope='col') Address
        tbody
          each person in data
            tr
              td= person.id
              td= person.name
              td= person.age
              td= person.address
